body {
    background-color: #EEEEEE;
    font-family: "Liter";
}

h1, h2, h3, h4, h5, p, a {
    color: black;
}

a:hover {
    color: #8E1616;
}

header nav, footer {
    background-color: #1D1616;
}

footer p {
    color: #EEEEEE;
}

nav a {
    color: #EEEEEE;
}

nav a:hover, nav .active {
    color: #D84040;
}

.btn.btn-primary {
    background-color: #8E1616;
    border: none;
}

.btn.btn-primary:hover, .btn.btn-primary:focus, .btn-primary:not(:disabled):not(.disabled):active {
    background-color: #D84040;
    border: none;
}

.page-item .page-link {
    background-color: #8E1616;
    border: none;
    color: #EEEEEE;
}


.page-item .page-link:hover, .page-item.active .page-link {
    background-color: #D84040;
    border-color: #D84040;
    color: #EEEEEE;
}

.card .card-img-top {
    height: 15rem;
    object-fit: cover;
}

.custom-shadow {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-img-container {
    overflow: hidden;
}
  
.card-img-container img {
    transition: transform .5s ease;
}
  
.card:hover img {
    transform: scale(1.1);
}

.carousel a {
    color: #EEEEEE;
    font-size: 2rem;
}

.carousel .carousel-item {
    max-height: 34rem;
}

.carousel .carousel-caption {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    left: 0;
    right: 0;
    padding: 3rem;
}

.carousel .carousel-caption p {
    color: #EEEEEE;
}

.carousel .carousel-caption .copyright {
    color: #A9A9A9;
}