body {
    background-color: #ECF4D6;
}

nav a {
    color: white;
}

nav a:hover {
    color: #2D9596;
}

nav .active a {
    color: #2D9596;
}

.page-item.active .page-link {
    background-color: #265073;
}

.page-link {
    color: #265073;
}

.btn.btn-primary {
    background-color: #265073;
}

.btn.btn-primary:hover {
    background-color: #2D9596;
}

h2 a {
    color: #212529;
}

.card .card-img-top {
    height: 15rem;
    object-fit: cover;
}

.brightest-bg {
    background-color: #ECF4D6;
}

.bright-bg {
    background-color: #9AD0C2;
}

.dark-bg {
    background-color: #2D9596;
}

.darkest-bg {
    background-color: #265073;
}

.custom-shadow {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-img-container {
    overflow: hidden;
}
  
.card-img-container img {
    transition: transform .5s ease;
}
  
.card:hover img {
    transform: scale(1.1);
}

.carousel a {
    color: white;
    font-size: 2rem;
}

.carousel .carousel-item {
    max-height: 34rem;
}

.carousel .carousel-caption {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    left: 0;
    right: 0;
    padding: 3rem;
}
