{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ selectedCategory.title }}</h1>
    <p>{{ selectedCategory.shortDescription }}</p>
    <div class="row">
        {% for news in allNews %}
            {% include 'components/singleNews.html.twig' with {'news': news} only %}
        {% endfor %}
        {% if allNews is null %}
            <h2 class="text-center w-100 mb-5 h1">404</h2>
        {% endif %}
    </div>
    <p>{{ selectedCategory.fullDescription }}</p>
    {% include 'components/pagination.html.twig' %}
{% endblock %}